body {
  background-color: #9AD0EC;
  margin: 0;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}


h1 {
  color: #11999E;
}

h2 {
  color: #11999E;
  font-weight: normal;
  line-height: 1px;

}

p{
  color: #11999E;
  font-size: 30px;
  width: 1100px;
  margin:auto;
  padding: 10px
}


.mount {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cloud1 {
  position: relative;
    bottom: 359px;
    right: 62px;
}
.cloud2{
  position: relative;
    bottom: 350px;
}
.computer{
  border-radius: 50%;
  width: 200px;
  margin: auto;
  float:right;
}

.btn {
  background: #34ced9;
  background-image: -webkit-linear-gradient(top, #34ced9, #2b4eb8);
  background-image: -moz-linear-gradient(top, #34ced9, #2b4eb8);
  background-image: -ms-linear-gradient(top, #34ced9, #2b4eb8);
  background-image: -o-linear-gradient(top, #34ced9, #2b4eb8);
  background-image: linear-gradient(to bottom, #34ced9, #2b4eb8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 27px;
  padding: 1px 7px 4px 13px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.chili{
  border-radius: 50%;
  width: 150px;
  margin: auto;
  float:right;
}
